<!DOCTYPE html>
<html lang="ko">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../../static/css/reset.css" th:href="@{/css/reset.css}" />
    <link rel="stylesheet" type="text/css" href="../../static/css/common.css" th:href="@{/css/common.css}" />

    <!-- Google fonts -->
    <link href='https://fonts.googleapis.com/css?family=Noto+Sans+KR:400,700&amp;display=swap' rel='stylesheet'/>
</head>
<body>
    <header th:fragment="header">
        <div class="container header-wrap">
            <div class="header-logo">
                <a href="./" th:href="@{/}">
                    <h1>changi1122</h1>
                </a>
            </div>
            <!-- Desktop -->
            <nav class="header-menu" aria-label="사이트 전체 메뉴">
                <a href="./" th:href="@{/}">홈</a>
                <a href="./about.html" th:href="@{/about}">소개</a>
                <a href="./project.html" th:href="@{/project}">프로젝트</a>
                <a href="./blog.html" th:href="@{/blog/1}">블로그</a>
                <!--<a href="./manage.html" th:href="@{/manage}">관리</a>-->
            </nav>
            <span class="menu-right">
                <!--<a href="./login.html">로그인</a>-->
            </span>
            <div id="menu-button" class="menu-button" onclick="toggleMobileMenu()">
                    <span id="menu-open-icon">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
                            <path d="M2 4.75C2 4.33579 2.33579 4 2.75 4H17.25C17.6642 4 18 4.33579 18 4.75C18 5.16421 17.6642 5.5 17.25 5.5H2.75C2.33579 5.5 2 5.16421 2 4.75ZM2 9.75C2 9.33579 2.33579 9 2.75 9H17.25C17.6642 9 18 9.33579 18 9.75C18 10.1642 17.6642 10.5 17.25 10.5H2.75C2.33579 10.5 2 10.1642 2 9.75ZM2.75 14C2.33579 14 2 14.3358 2 14.75C2 15.1642 2.33579 15.5 2.75 15.5H17.25C17.6642 15.5 18 15.1642 18 14.75C18 14.3358 17.6642 14 17.25 14H2.75Z"/>
                        </svg>
                    </span>
                <span id="menu-close-icon" class="invisible">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
                            <path d="M3.89705 4.05379L3.96967 3.96967C4.23594 3.7034 4.6526 3.6792 4.94621 3.89705L5.03033 3.96967L10 8.939L14.9697 3.96967C15.2359 3.7034 15.6526 3.6792 15.9462 3.89705L16.0303 3.96967C16.2966 4.23594 16.3208 4.6526 16.1029 4.94621L16.0303 5.03033L11.061 10L16.0303 14.9697C16.2966 15.2359 16.3208 15.6526 16.1029 15.9462L16.0303 16.0303C15.7641 16.2966 15.3474 16.3208 15.0538 16.1029L14.9697 16.0303L10 11.061L5.03033 16.0303C4.76406 16.2966 4.3474 16.3208 4.05379 16.1029L3.96967 16.0303C3.7034 15.7641 3.6792 15.3474 3.89705 15.0538L3.96967 14.9697L8.939 10L3.96967 5.03033C3.7034 4.76406 3.6792 4.3474 3.89705 4.05379L3.96967 3.96967L3.89705 4.05379Z"/>
                        </svg>
                    </span>
            </div>
        </div>
        <!-- Mobile -->
        <nav id="mobile-header-menu" class="container mobile-menu" aria-label="사이트 전체 메뉴">
            <a style="opacity: 0" href="./" th:href="@{/}">홈</a>
            <a style="opacity: 0" href="./about.html" th:href="@{/about}">소개</a>
            <a style="opacity: 0" href="./project.html" th:href="@{/project}">프로젝트</a>
            <a style="opacity: 0" href="./blog.html" th:href="@{/blog/1}">블로그</a>
            <!--<a style="opacity: 0" href="./manage.html" th:href="@{/manage}">관리</a>-->
            <!--<span style="opacity: 0" class="menu-bottom">
                <a href="./login.html" th:href="@{/login}">로그인</a>
            </span>-->
        </nav>
    </header>


    <footer th:fragment="footer">
        <div class="container footer-wrap">
            <div class="no-drag copyright">
                <span>© changi1122</span>
                <span class="divider divider-dark"></span>
                <span>무단 전재 및 재배포 금지</span>
            </div>
            <ul class="links mobile-invisible">
                <li><a href="/" th:href="@{/}">홈</a></li>
                <li><a href="mailto:changi112242@gmail.com">문의</a></li>
                <li><a href="https://old.changi1122.studio1122.net/">링크</a></li>
            </ul>
        </div>
        
        <!-- Google tag (gtag.js) -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-7NXFZQHDVM"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());

            gtag('config', 'G-7NXFZQHDVM');
        </script>
    </footer>
</body>
</html>