<!DOCTYPE html>
<html lang="ko">
<head>
    <title>오류 발생!</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../static/css/reset.css" th:href="@{/css/reset.css}" />
    <link rel="stylesheet" type="text/css" href="../static/css/common.css" th:href="@{/css/common.css}" />
    <link rel="stylesheet" type="text/css" href="../static/css/admin.css" th:href="@{/css/admin.css}" />

    <!-- Google fonts -->
    <link href='https://fonts.googleapis.com/css?family=Noto+Sans+KR:400,700&amp;display=swap' rel='stylesheet'/>
</head>
<body>
<!-- Header -->
<header th:replace="~{fragment/style :: header}">
</header>

<!-- Content -->
<section class="container">
    <article class="user-form-wrap" style="align-items: flex-start;flex-direction: column;justify-content: center;">
        <h2 style="font-size: 28px;font-weight: bold;margin-bottom: 24px" th:text="|${status} 오류 발생!|">오류 발생!</h2>
        <p>페이지를 찾을 수 없거나, 권한이 없습니다.</p>
    </article>
</section>

<!-- Footer -->
<footer th:replace="~{fragment/style :: footer}">
</footer>

<!-- Scripts -->
<script type="text/javascript" src="../static/js/style.js" th:src="@{/js/style.js}"></script>
</body>
</html>