.about-wrap {
    display: flex;
    gap: 40px;
    margin-top: 218px;
    margin-bottom: 120px;
}
.profile {
    width: 360px;
}
.resume {
    flex: 1 0;
    min-height: calc(100vh - 218px - 120px - 60px);
}

.avatar {
    display: inline-block;
    z-index: 10;
    background-color: #D1D5DA;
    width: 160px;
    height: 160px;
    margin-right: 12px;
    border: 1px solid #D1D5DA;
    border-radius: 8px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.profile h3 {
    margin-top: 12px;
    font-size: 26px;
    line-height: 1.6;
    font-weight: bold;
}
.profile .profile-link {
    padding: 24px 0;
    border-bottom: 1px solid #D1D5DA;
}

.profile-link li {
    margin-bottom: 8px;
}
.profile-link li:last-child {
    margin-bottom: 0;
}
.profile-link a {
    display: inline-flex;
    align-items: center;
    gap: 8px;
    font-size: 15px;
    color: #808080;
    fill: #808080;
    text-decoration: none;
}
.profile-link a:hover {
    color: #000;
    fill: #000;
    transition: color .2s ease, fill .2s ease;
}
.profile-link a>p {
    display: inline-block;
}

.interest {
    margin: 24px 0;
}
.interest .sub-title {
    font-size: 16px;
}
.interest>ul {
    display: flex;
    gap: 4px;
    margin-top: 12px;
    font-size: 13px;
}
.interest>ul>li {
    background-color: #F5F5F5;
    padding: 4px 8px;
    border-radius: 4px;
}

.resume section {
    overflow: hidden;
}
.resume section.closed {
    height: 27px;
}
.resume section>.title>.open-button {
    display: none;
}
.resume section>.title>.close-button {
    display: block;
}
.resume section.closed>.title>.open-button {
    display: block;
}
.resume section.closed>.title>.close-button {
    display: none;
}

.resume section:not(:first-child) {
    margin-top: 48px;
}
.resume .title {
    display: flex;
    cursor: pointer;
}
.resume .title h3 {
    flex: 1 0;
    font-size: 22px;
    font-weight: bold;
}

.introduce .intro {
    margin-top: 16px;
    font-size: 15px;
    line-height: 1.6;
    color: #808080;
}
.introduce .intro>b {
    font-weight: bold;
}

.introduce .qna-wrap {
    margin-top: 18px;
    line-height: 1.6;
}
.introduce .qna {
    display: flex;
    padding: 18px 0;
    border-bottom: 1px solid #D1D5DA;
}
.introduce .qna:last-child {
    border-bottom: none;
}
.introduce .badge {
    display: block;
    width: 28px;
    margin-top: 2px;
    font-size: 13px;
    color: #00CAAD;
}
.introduce .qna>*:last-child {
    flex: 1 0;
}
.introduce .q {
    font-size: 16px;
    font-weight: bold;
}
.introduce .a {
    font-size: 14px;
    color: #808080;
}

.exp {
    display: flex;
    margin-top: 24px;
}
.exp>*:last-child {
    flex: 1 0;
}
.exp .duration {
    width: 160px;
    font-size: 14px;
    color: #808080;
    line-height: 1.6;
}
.exp .name {
    font-size: 18px;
    font-weight: bold;
}
.exp .job {
    margin-top: 8px;
    font-size: 14px;
    color: #00CAAD;
}
.exp .description {
    margin-top: 8px;
    font-size: 14px;
    color: #808080;
}
.exp .task {
    margin-top: 12px;
    font-size: 14px;
    color: #808080;
    line-height: 1.6;
}
.exp .related {
    display: flex;
    gap: 4px;
    margin-top: 12px;
    font-size: 13px;
}
.exp .related>li {
    background-color: #F5F5F5;
    padding: 4px 8px;
    border-radius: 4px;
}
.exp .summary {
    margin: 24px 0;
    color: #808080;
    font-size: 15px;
    line-height: 1.6;
}
.exp .summary>li {
    margin-bottom: 8px;
}
.exp .summary>li>span:first-child {
    display: inline-block;
    width: 40px;
}

.exp .links {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    gap: 16px;
    margin-top: 24px;
}
.exp .more-button {
    height: 100%;
    color: #808080;
    font-size: 16px;
    text-decoration: none;
}
.exp .more-button>svg {
    fill: #808080;
    margin-bottom: -2px;
}
.exp .more-button:hover {
    color: #000;
}
.exp .more-button:hover>svg {
    fill: #000;
}

.project .exp:not(:first-child) {
    margin-top: 36px;
}

.license .license-wrap {
    padding-bottom: 24px;
    border-bottom: 1px solid #D1D5DA;
}
.license .links {
    margin-top: 16px;
}


/* Tablet */
@media screen and (min-width:768px) and (max-width: 1160px) {
    .about-wrap {
        flex-direction: column;
    }
}

/* Mobile */
@media screen and (max-width:767px) {

    .profile {
        width: 100%;
    }
    .about-wrap {
        flex-direction: column;
    }
    .avatar {
        display: block;
        margin: 0 auto;
    }
    .profile h3 {
        text-align: center;
    }

    .exp .duration {
        width: 120px;
    }
}
