<!DOCTYPE html>
<html lang="ko">
<head>
    <title>소개</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../static/css/reset.css" th:href="@{/css/reset.css}" />
    <link rel="stylesheet" type="text/css" href="../static/css/common.css" th:href="@{/css/common.css}" />
    <link rel="stylesheet" type="text/css" href="../static/css/about.css" th:href="@{/css/about.css}" />

    <!-- Google fonts -->
    <link href='https://fonts.googleapis.com/css?family=Noto+Sans+KR:400,700&amp;display=swap' rel='stylesheet'/>
</head>
<body>
    <!-- Header -->
    <header th:replace="~{fragment/style :: header}">
    </header>

    <!-- Content -->
    <div class="container about-wrap">
        <div class="profile">
            <div>
                <img class="avatar no-select" src="../static/img/face.jpg" th:src="@{/img/face.jpg}" alt="">
                <h3>이우창</h3>
                <ul class="profile-link">
                    <li th:each="link : ${resume.links}" th:utext="${link}">
                        <a href="mailto:changi112242@gmail.com" target="_blank">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24"><path d="M4 20q-.825 0-1.412-.587T2 18V6q0-.825.588-1.412T4 4h16q.825 0 1.413.588T22 6v12q0 .825-.587 1.413T20 20zm8-7L4 8v10h16V8zm0-2l8-5H4zM4 8V6v12z"/></svg>
                            <p>changi112242@gmail.com</p>
                        </a>
                    </li>
                </ul>
                <div class="interest">
                    <p class="sub-title">주요 기술 및 관심 분야</p>
                    <ul>
                        <li th:each="interest : ${resume.interests}" th:text="${interest}">Spring</li>
                    </ul>
                </div>
            </div>
        </div>
        <article class="resume">
            <section class="introduce fade-effect" th:if="${resume.questions != null && #lists.size(resume.questions) > 0}">
                <div class="title">
                    <h3>자기소개</h3>
                    <span class="open-button">
                        <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" viewBox="0 0 24 24"><path fill="currentColor" d="M7.41 8.59L12 13.17l4.59-4.58L18 10l-6 6l-6-6z"/></svg>
                    </span>
                    <span class="close-button">
                        <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" viewBox="0 0 24 24"><path fill="currentColor" d="M7.41 15.41L12 10.83l4.59 4.58L18 14l-6-6l-6 6z"/></svg>
                    </span>
                </div>
                <p class="intro" th:utext="${resume.intro}">
                    안녕하세요! <span class="mobile-invisible">매일매일 배우고 있는</span> 신입 백엔드 개발자 <b>이우창</b>입니다.<br>
                    저를 소개하기 위해 질문과 답변을 적어보았습니다.
                </p>
                <div class="qna-wrap">
                    <div class="qna" th:each="question : ${resume.questions}">
                        <span class="badge">Q[[${question.questionNumber}]].</span>
                        <div>
                            <p class="q" th:utext="${question.question}">프로그래밍을 시작하게 된 계기는 무엇인가요?</p>
                            <p class="a" th:utext="${question.answer}">
                                프로그래밍에 처음 관심을 갖게 된 것은 게임이었습니다.
                                중학생 시절 내 마음속으로 상상하던 것들을 직접 게임으로 만들어보고자 하였습니다.
                                그러나 노코드(NoCode) 게임 제작 툴에 한계를 느끼고 나만의 것을 만들어보자 한 것이 컴퓨터 프로그래밍을 시작하게 된 계기입니다.
                            </p>
                        </div>
                    </div>
                </div>
            </section>
            <section class="experience fade-effect" th:if="${resume.experiences != null && #lists.size(resume.experiences) > 0}">
                <div class="title">
                    <h3>경력</h3>
                    <span class="open-button">
                        <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" viewBox="0 0 24 24"><path fill="currentColor" d="M7.41 8.59L12 13.17l4.59-4.58L18 10l-6 6l-6-6z"/></svg>
                    </span>
                    <span class="close-button">
                        <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" viewBox="0 0 24 24"><path fill="currentColor" d="M7.41 15.41L12 10.83l4.59 4.58L18 14l-6-6l-6 6z"/></svg>
                    </span>
                </div>
                <div>
                    <div class="exp" th:each="experience : ${resume.experiences}">
                        <span class="duration" th:utext="${experience.duration}">2020-00 ~ 2021-00<br>(n개월)</span>
                        <div>
                            <p class="name" th:utext="${experience.name}">ㅇㅇ 소프트</p>
                            <p class="job" th:style="'color: ' + ${experience.themeColor}" th:utext="${experience.position}">Backend 개발자</p>
                            <p class="task" th:utext="${experience.description}">
                                - 어떠한 어떠한 업무 담당<br>
                                - 이러한 이러한 업무 해본바 있음
                            </p>
                            <ul class="related">
                                <li th:each="tag : ${experience.tags}" th:text="${tag}">Java</li>
                            </ul>
                            <div class="links">
                                <a class="more-button" th:each="link : ${experience.links}" th:utext="${link}">
                                    홈페이지
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24"><path d="M19 19H5V5h7V3H5a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h14c1.1 0 2-.9 2-2v-7h-2zM14 3v2h3.59l-9.83 9.83l1.41 1.41L19 6.41V10h2V3z"/></svg>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="school fade-effect" th:if="${resume.degrees != null && #lists.size(resume.degrees) > 0}">
                <div class="title">
                    <h3>학력</h3>
                    <span class="open-button">
                        <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" viewBox="0 0 24 24"><path fill="currentColor" d="M7.41 8.59L12 13.17l4.59-4.58L18 10l-6 6l-6-6z"/></svg>
                    </span>
                    <span class="close-button">
                        <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" viewBox="0 0 24 24"><path fill="currentColor" d="M7.41 15.41L12 10.83l4.59 4.58L18 14l-6-6l-6 6z"/></svg>
                    </span>
                </div>
                <div>
                    <div class="exp" th:each="degree : ${resume.degrees}">
                        <span class="duration" th:utext="${degree.duration}">2019-03 ~ 2025-02<br></span>
                        <div>
                            <p class="name" th:utext="${degree.name}">ㅇㅇ대학교</p>
                            <p class="job" th:style="'color: ' + ${degree.themeColor}" th:utext="${degree.position}">ㅇㅇ학과</p>
                        </div>
                    </div>
                </div>
            </section>
            <section class="project fade-effect" th:if="${resume.projects != null && #lists.size(resume.projects) > 0}">
                <div class="title">
                    <h3>사이드 프로젝트</h3>
                    <span class="open-button">
                        <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" viewBox="0 0 24 24"><path fill="currentColor" d="M7.41 8.59L12 13.17l4.59-4.58L18 10l-6 6l-6-6z"/></svg>
                    </span>
                    <span class="close-button">
                        <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" viewBox="0 0 24 24"><path fill="currentColor" d="M7.41 15.41L12 10.83l4.59 4.58L18 14l-6-6l-6 6z"/></svg>
                    </span>
                </div>
                <div>
                    <div class="exp" th:each="project : ${resume.projects}">
                        <span class="duration" th:utext="${project.duration}">2024-10</span>
                        <div>
                            <p class="name" th:utext="${project.name}">하모나이즈</p>
                            <p class="description" th:utext="${project.description}">사용자 목소리 기반 노래방 음악 추천시스템</p>
                            <ul class="summary">
                                <li th:each="keyword : ${project.keywords}">
                                    <span th:text="${keyword.keyword}"  th:style="'color: ' + ${project.themeColor}">기술</span>
                                    [[${keyword.description}]]
                                </li>
                            </ul>
                            <div class="links">
                                <a class="more-button" th:each="link : ${project.links}" th:utext="${link}">
                                    코드
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="license fade-effect" th:if="${resume.certifications != null && #lists.size(resume.certifications) > 0 ||
                                                          resume.awards != null && #lists.size(resume.awards) > 0}">
                <div class="title">
                    <h3>수상 및 자격증</h3>
                    <span class="open-button">
                        <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" viewBox="0 0 24 24"><path fill="currentColor" d="M7.41 8.59L12 13.17l4.59-4.58L18 10l-6 6l-6-6z"/></svg>
                    </span>
                    <span class="close-button">
                        <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" viewBox="0 0 24 24"><path fill="currentColor" d="M7.41 15.41L12 10.83l4.59 4.58L18 14l-6-6l-6 6z"/></svg>
                    </span>
                </div>
                <div class="license-wrap" th:if="${resume.certifications != null && #lists.size(resume.certifications) > 0}">
                    <div class="exp" th:each="certification : ${resume.certifications}">
                        <span class="duration" th:utext="${certification.duration}">2024-09</span>
                        <div>
                            <p class="name" th:text="${certification.name}">자격증</p>
                            <p class="description" th:if="${!#strings.isEmpty(certification.description)}" th:utext="${certification.description}"></p>
                        </div>
                    </div>
                </div>
                <div th:if="${resume.awards != null && #lists.size(resume.awards) > 0}">
                    <div class="exp" th:each="award : ${resume.awards}">
                        <span class="duration" th:utext="${award.duration}">2024-07</span>
                        <div>
                            <p class="name" th:text="${award.name}">수상 이름</p>
                            <p class="description" th:if="${!#strings.isEmpty(award.description)}" th:utext="${award.description}"></p>
                            <div class="links">
                                <a class="more-button" th:each="link : ${award.links}" th:utext="${link}">
                                    증빙 자료
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </article>
    </div>

    <!-- Footer -->
    <footer th:replace="~{fragment/style :: footer}">
    </footer>

    <!-- Scripts -->
    <script type="text/javascript" src="../static/js/style.js" th:src="@{/js/style.js}"></script>
    <script type="text/javascript" src="../static/js/about.js" th:src="@{/js/about.js}"></script>
</body>
</html>