<!DOCTYPE html>
<html lang="ko">
<head>
    <title>changi1122 홈</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../static/css/reset.css" th:href="@{/css/reset.css}" />
    <link rel="stylesheet" type="text/css" href="../static/css/common.css" th:href="@{/css/common.css}" />
    <link rel="stylesheet" type="text/css" href="../static/css/home.css" th:href="@{/css/home.css}" />

    <!-- Google fonts -->
    <link href='https://fonts.googleapis.com/css?family=Noto+Sans+KR:400,700&amp;display=swap' rel='stylesheet'/>
</head>
<body>
    <!-- Header -->
    <header th:replace="~{fragment/style :: header}">
    </header>

    <!-- Top Section -->
    <div class="top-section">
        <div class="top-background">
            <img class="no-drag no-select" src="../static/img/background.jpg" th:src="@{/img/background.jpg}" alt="">
        </div>
        <div class="container top-profile">
            <img class="avatar no-select" src="../static/img/face.jpg" th:src="@{/img/face.jpg}" alt="">
            <div class="profile-name">
                <h3>이우창</h3>
                <p>changi1122</p>
            </div>
        </div>
    </div>

    <!-- Link Buttons -->
    <div class="container link-wrap">
        <a class="button-design clickable" href="mailto:changi112242@gmail.com">
            <span class="icon">
                <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24">
                    <path fill="#fff" d="M22 6c0-1.1-.9-2-2-2H4c-1.1 0-2 .9-2 2v12c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2zm-2 0l-8 5l-8-5zm0 12H4V8l8 5l8-5z"/>
                </svg>
            </span>
            changi112242@gmail.com
        </a>
        <a class="button-design clickable" href="https://constructionsite.tistory.com" target="_blank">
            <span class="icon">Blog</span>장난감 연구소
        </a>
        <a class="button-design clickable" href="https://github.com/changi1122" target="_blank">
            <span class="icon">
                <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24"><path fill="#fff" d="M12 2A10 10 0 0 0 2 12c0 4.42 2.87 8.17 6.84 9.5c.5.08.66-.23.66-.5v-1.69c-2.77.6-3.36-1.34-3.36-1.34c-.46-1.16-1.11-1.47-1.11-1.47c-.91-.62.07-.6.07-.6c1 .07 1.53 1.03 1.53 1.03c.87 1.52 2.34 1.07 2.91.83c.09-.65.35-1.09.63-1.34c-2.22-.25-4.55-1.11-4.55-4.92c0-1.11.38-2 1.03-2.71c-.1-.25-.45-1.29.1-2.64c0 0 .84-.27 2.75 1.02c.79-.22 1.65-.33 2.5-.33s1.71.11 2.5.33c1.91-1.29 2.75-1.02 2.75-1.02c.55 1.35.2 2.39.1 2.64c.65.71 1.03 1.6 1.03 2.71c0 3.82-2.34 4.66-4.57 4.91c.36.31.69.92.69 1.85V21c0 .27.16.59.67.5C19.14 20.16 22 16.42 22 12A10 10 0 0 0 12 2"/></svg>
            </span>
            Github
        </a>
    </div>

    <!-- Content -->
    <section class="container fade-effect">
        <article>
            <h2>관심 분야</h2>
            <ul class="interest no-select">
                <li th:each="interest : ${home.interests}">
                    <span th:utext="${interest}">Spring</span>
                </li>
            </ul>
        </article>
    </section>
    <section class="container fade-effect">
        <article class="introduce">
            <h2 class="sr-only">자기 소개</h2>
            <div class="title-wrap">
                <p class="title" th:utext="${home.intro}">
                    안녕하세요! <span class="mobile-invisible">매일매일 배우고 있는</span> 신입 백엔드 개발자 <b>이우창</b>입니다.<br>
                    저를 소개하기 위해 질문과 답변을 적어보았습니다.
                </p>
                <a class="more-button" href="./about.html" th:href="@{/about}">
                    더 알아보기
                    <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24"><path d="m12 4l-1.41 1.41L16.17 11H4v2h12.17l-5.58 5.59L12 20l8-8z"/></svg>
                </a>
            </div>
            <div class="qna-wrap">
                <div class="qna" th:each="question : ${home.questions}">
                    <div>
                        <span class="badge">Question [[${question.questionNumber}]]</span>
                        <p class="q" th:utext="${question.question}">프로그래밍을 시작하게 된 계기는 무엇인가요?</p>
                    </div>
                    <p class="a" th:utext="${question.answer}">
                        프로그래밍에 처음 관심을 갖게 된 것은 게임이었습니다.
                        중학생 시절 내 마음속으로 상상하던 것들을 직접 게임으로 만들어보고자 하였습니다.
                        그러나 노코드(NoCode) 게임 제작 툴에 한계를 느끼고 나만의 것을 만들어보자 한 것이 컴퓨터 프로그래밍을 시작하게 된 계기입니다.
                    </p>
                </div>
            </div>
        </article>
    </section>
    <section class="container fade-effect">
        <article>
            <div class="title-wrap">
                <h2>프로젝트</h2>
                <a class="more-button" href="./project.html" th:href="@{/project}">
                    프로젝트 더보기
                    <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24"><path d="m12 4l-1.41 1.41L16.17 11H4v2h12.17l-5.58 5.59L12 20l8-8z"/></svg>
                </a>
            </div>
            <div class="project">
                <div class="main-project">
                    <div>
                        <a href="./" th:href="@{/project}">
                            <img src="../static/img/project/project1.png" th:src="@{/img/project/project1.png}" alt="하모나이즈 프로젝트 사진">
                        </a>
                    </div>
                    <div>
                        <a href="./" th:href="@{/project}"><h3 class="title">하모나이즈</h3></a>
                        <p class="description">사용자 목소리 기반 노래방 음악 추천시스템</p>
                        <ul class="summary">
                            <li><span>목표</span> 목소리 분석을 통해 <span class="mobile-invisible">사용자가</span> 부르기 좋은 노래를 추천해주는 서비스</li>
                            <li><span>기술</span> Spring boot, JPA, Kafka, Tensorflow, Android</li>
                            <li><span>기간</span> 2024. 02. ~ 2024. 10.</li>
                        </ul>
                    </div>
                </div>
                <div class="sub-project">
                    <div>
                        <a href="./" th:href="@{/project}">
                            <img src="../static/img/project/project2.jpeg" th:src="@{/img/project/project2.jpeg}" alt="나눔 광장 프로젝트 사진">
                        </a>
                        <a href="./" th:href="@{/project}"><h3 class="title">나눔 광장</h3></a>
                        <p class="description">지역 기반 P2P 일회용품 재활용 지원 서비스</p>
                    </div>
                    <div>
                        <a href="./" th:href="@{/project}">
                            <img src="../static/img/project/project3.jpeg" th:src="@{/img/project/project3.jpeg}" alt="TUX 홈페이지 프로젝트 사진">
                        </a>
                        <a href="./" th:href="@{/project}"><h3 class="title">학술 동아리 TUX 홈페이지</h3></a>
                        <p class="description"><span class="mobile-invisible">충북대학교</span> 소프트웨어학부 학술 동아리 TUX 홈페이지 백엔드 개발</p>
                    </div>
                </div>
            </div>
        </article>
    </section>
    <section class="container fade-effect">
        <article>
            <div class="title-wrap">
                <h2><span class="mobile-invisible">최근 </span>블로그 게시글</h2>
                <a class="more-button" href="./blog.html" th:href="@{/blog/1}">
                    블로그 더보기
                    <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24"><path d="m12 4l-1.41 1.41L16.17 11H4v2h12.17l-5.58 5.59L12 20l8-8z"/></svg>
                </a>
            </div>
            <div class="blog">
                <div class="blog-article fade-effect" th:each="article : ${articles}"
                     th:classappend="${article.imageSrc == null || article.imageSrc.equals('null')} ? 'no-image' : ''">
                    <a th:href="${article.link}" target="_blank" th:if="${article.imageSrc != null && !article.imageSrc.equals('null')}">
                        <img src="../static/img/blog/1.png" th:src="${article.imageSrc}" alt="">
                    </a>
                    <a th:href="${article.link}" target="_blank">
                        <p class="title" th:text="${article.title}">제목</p>
                        <div class="description-wrap">
                            <p class="description" th:text="${article.description}">미리보기</p>
                        </div>
                    </a>
                    <div class="meta">
                        <span class="category" th:text="${article.category}">카테고리</span>
                        <span class="divider"></span>
                        <span th:text="${article.getPubDateString()}">2000.01.01</span>
                    </div>
                </div>
            </div>
        </article>
    </section>

    <!-- Footer -->
    <footer th:replace="~{fragment/style :: footer}">
    </footer>

    <!-- Scripts -->
    <script type="text/javascript" src="../static/js/style.js" th:src="@{/js/style.js}"></script>
</body>
</html>