<!DOCTYPE html>
<html lang="ko">
<head>
    <title th:text="${project.name}">프로젝트 상세페이지</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../static/css/reset.css" th:href="@{/css/reset.css}" />
    <link rel="stylesheet" type="text/css" href="../static/css/common.css" th:href="@{/css/common.css}" />
    <link rel="stylesheet" type="text/css" href="../static/css/project-detail.css" th:href="@{/css/project-detail.css}" />
    <link rel="stylesheet" type="text/css" href="../static/css/markdown.css" th:href="@{/css/markdown.css}" />

    <!-- Google fonts -->
    <link href='https://fonts.googleapis.com/css?family=Noto+Sans+KR:400,700&amp;display=swap' rel='stylesheet'/>

    <!-- medium-zoom -->
    <script src="https://cdn.jsdelivr.net/npm/medium-zoom@1.1.0/dist/medium-zoom.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/medium-zoom@1.1.0/dist/style.min.css" rel="stylesheet">
</head>
<body>
    <!-- Header -->
    <header th:replace="~{fragment/style :: header}">
    </header>

    <!-- Content -->
    <section class="container">
        <article class="project-detail">
            <p class="category" th:style="'color: ' + ${project.themeColor}" th:text="${project.category}">카테고리</p>
            <h2 class="name" th:text="${project.name}">프로젝트 이름</h2>
            <div class="space-between">
                <ul class="tags">
                    <li th:each="tag : ${project.badges}" th:text="${tag}">Java</li>
                </ul>
                <div class="links">
                    <a class="more-button" th:each="link : ${project.bodyLinks}" th:utext="${link}">
                        코드
                    </a>
                </div>
            </div>
            <div class="md" th:utext="${project.bodyHtml}">
                본문
            </div>
            <div class="bottom-button">
                <a class="more-button" href="/project">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" viewBox="0 0 24 24" style="margin-left: 4px;margin-bottom: -3px">
                        <path fill="currentColor" d="M20 11v2H8l5.5 5.5l-1.42 1.42L4.16 12l7.92-7.92L13.5 5.5L8 11z"/>
                    </svg>
                    목록으로 돌아가기
                </a>
            </div>
        </article>
    </section>

    <!-- Footer -->
    <footer th:replace="~{fragment/style :: footer}">
    </footer>

    <!-- Scripts -->
    <script type="text/javascript" src="../static/js/style.js" th:src="@{/js/style.js}"></script>
    <script>
        mediumZoom('[data-zoomable]', { background: '#222222' })
    </script>
</body>
</html>