<!DOCTYPE html>
<html lang="ko">
<head>
    <title>프로젝트</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../static/css/reset.css" th:href="@{/css/reset.css}" />
    <link rel="stylesheet" type="text/css" href="../static/css/common.css" th:href="@{/css/common.css}" />
    <link rel="stylesheet" type="text/css" href="../static/css/project.css" th:href="@{/css/project.css}" />

    <!-- Google fonts -->
    <link href='https://fonts.googleapis.com/css?family=Noto+Sans+KR:400,700&amp;display=swap' rel='stylesheet'/>
</head>
<body>
    <!-- Header -->
    <header th:replace="~{fragment/style :: header}">
    </header>

    <!-- Content -->
    <section class="container">
        <article>
            <div>
                <h2>프로젝트</h2>
            </div>
            <div class="project">
                <div class="main-project fade-effect" th:each="project : ${projects}">
                    <div>
                        <a th:href="|/project/${project.id}|">
                            <p class="category" th:style="'color: ' + ${project.themeColor}" th:text="${project.category}">카테고리</p>
                            <h3 class="title" th:text="${project.name}">하모나이즈</h3>
                            <p class="description" th:utext="${project.description}">사용자 목소리 기반 노래방 음악 추천시스템</p>
                        </a>
                        <ul class="summary">
                            <li th:each="keyword : ${project.keywords}">
                                <span th:text="${keyword.keyword}">기술</span>
                                <span th:utext="${keyword.description}">Spring boot, JPA, Kafka, Tensorflow, Android</span>
                            </li>
                        </ul>
                        <div class="links">
                            <a class="more-button" th:each="link : ${project.links}" th:utext="${link}">
                                코드
                            </a>
                        </div>
                    </div>
                    <div class="img-wrap">
                        <a th:href="|/project/${project.id}|">
                            <img src="../static/img/project/project1.png" th:src="${project.imageSrc}" alt="하모나이즈 프로젝트 사진">
                        </a>
                    </div>
                </div>
            </div>
        </article>
    </section>

    <!-- Footer -->
    <footer th:replace="~{fragment/style :: footer}">
    </footer>

    <!-- Scripts -->
    <script type="text/javascript" src="../static/js/style.js" th:src="@{/js/style.js}"></script>
</body>
</html>