<!DOCTYPE html>
<html lang="ko">
<head>
    <title>프로젝트</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../static/css/reset.css" th:href="@{/css/reset.css}" />
    <link rel="stylesheet" type="text/css" href="../static/css/common.css" th:href="@{/css/common.css}" />
    <link rel="stylesheet" type="text/css" href="../static/css/project.css" th:href="@{/css/project.css}" />

    <!-- Google fonts -->
    <link href='https://fonts.googleapis.com/css?family=Noto+Sans+KR:400,700&amp;display=swap' rel='stylesheet'/>
</head>
<body>
    <!-- Header -->
    <header th:replace="~{fragment/style :: header}">
    </header>

    <!-- Content -->
    <section class="container">
        <article>
            <div>
                <h2>프로젝트</h2>
            </div>
            <div class="project">
                <div class="main-project fade-effect">
                    <div>
                        <a href="./">
                            <img src="../static/img/project/project1.png" th:src="@{/img/project/project1.png}" alt="하모나이즈 프로젝트 사진">
                        </a>
                    </div>
                    <div>
                        <a href="./">
                            <h3 class="title">하모나이즈</h3>
                            <p class="description">사용자 목소리 기반 노래방 음악 추천시스템</p>
                        </a>
                        <ul class="summary">
                            <li><span style="color: #9800FF">목표</span> 목소리 분석을 통해 <span class="mobile-invisible">사용자가</span> 부르기 좋은 노래를 추천해주는 서비스</li>
                            <li><span style="color: #9800FF">기술</span> Spring boot, JPA, Kafka, Tensorflow, Android</li>
                            <li><span style="color: #9800FF">역할</span> Backend 및 추천시스템 개발</li>
                            <li><span style="color: #9800FF">기간</span> 2024. 02. ~ 2024. 10.</li>
                        </ul>
                        <div class="links">
                            <a class="more-button" href="./">
                                홈페이지
                                <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24"><path d="M19 19H5V5h7V3H5a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h14c1.1 0 2-.9 2-2v-7h-2zM14 3v2h3.59l-9.83 9.83l1.41 1.41L19 6.41V10h2V3z"/></svg>
                            </a>
                            <a class="more-button" href="./">
                                코드
                                <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24"><path d="M19 19H5V5h7V3H5a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h14c1.1 0 2-.9 2-2v-7h-2zM14 3v2h3.59l-9.83 9.83l1.41 1.41L19 6.41V10h2V3z"/></svg>
                            </a>
                            <a class="more-button" href="./">
                                프로젝트 소개
                                <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24"><path d="m12 4l-1.41 1.41L16.17 11H4v2h12.17l-5.58 5.59L12 20l8-8z"/></svg>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="main-project fade-effect">
                    <div>
                        <a href="./">
                            <img src="../static/img/project/project2.jpeg" th:src="@{/img/project/project2.jpeg}" alt="나눔광장 프로젝트 사진">
                        </a>
                    </div>
                    <div>
                        <a href="./">
                            <h3 class="title">나눔광장</h3>
                            <p class="description">지역 기반 P2P 일회용품 재활용 지원 서비스</p>
                        </a>
                        <ul class="summary">
                            <li><span style="color: #00C37E">목표</span> <span class="mobile-invisible">위치를 기반으로 </span>재사용할 수 있는 물건 나눔을 도와주는 서비스</li>
                            <li><span style="color: #00C37E">기술</span> Spring boot, JPA, Vue.js</li>
                            <li><span style="color: #00C37E">역할</span> 회원 서비스 Backend 및 Frontend 개발</li>
                            <li><span style="color: #00C37E">기간</span> 2022. 09. ~ 2022. 12.</li>
                        </ul>
                        <div class="links">
                            <a class="more-button" href="./">
                                코드
                                <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24"><path d="M19 19H5V5h7V3H5a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h14c1.1 0 2-.9 2-2v-7h-2zM14 3v2h3.59l-9.83 9.83l1.41 1.41L19 6.41V10h2V3z"/></svg>
                            </a>
                            <a class="more-button" href="./">
                                프로젝트 소개
                                <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24"><path d="m12 4l-1.41 1.41L16.17 11H4v2h12.17l-5.58 5.59L12 20l8-8z"/></svg>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="main-project fade-effect">
                    <div>
                        <a href="./">
                            <img src="../static/img/project/project3.jpeg" th:src="@{/img/project/project3.jpeg}" alt="학술 동아리 TUX 홈페이지 프로젝트 사진">
                        </a>
                    </div>
                    <div>
                        <a href="./">
                            <h3 class="title">학술 동아리 TUX 홈페이지</h3>
                            <p class="description"><span class="mobile-invisible">충북대학교</span> 소프트웨어학부 학술 동아리 TUX 홈페이지 백엔드 개발</p>
                        </a>
                        <ul class="summary">
                            <li><span style="color: #E95420">목표</span> 학과 내 학술 동아리 활동을 지원하는 웹사이트 개발</li>
                            <li><span style="color: #E95420">기술</span> Spring boot, JPA, React</li>
                            <li><span style="color: #E95420">역할</span> Backend 개발</li>
                            <li><span style="color: #E95420">기간</span> 2023. 07. ~ 2023. 09.</li>
                        </ul>
                        <div class="links">
                            <a class="more-button" href="./">
                                홈페이지
                                <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24"><path d="M19 19H5V5h7V3H5a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h14c1.1 0 2-.9 2-2v-7h-2zM14 3v2h3.59l-9.83 9.83l1.41 1.41L19 6.41V10h2V3z"/></svg>
                            </a>
                            <a class="more-button" href="./">
                                코드
                                <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24"><path d="M19 19H5V5h7V3H5a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h14c1.1 0 2-.9 2-2v-7h-2zM14 3v2h3.59l-9.83 9.83l1.41 1.41L19 6.41V10h2V3z"/></svg>
                            </a>
                            <a class="more-button" href="./">
                                프로젝트 소개
                                <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24"><path d="m12 4l-1.41 1.41L16.17 11H4v2h12.17l-5.58 5.59L12 20l8-8z"/></svg>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </article>
    </section>

    <!-- Footer -->
    <footer th:replace="~{fragment/style :: footer}">
    </footer>

    <!-- Scripts -->
    <script type="text/javascript" src="../static/js/style.js" th:src="@{/js/style.js}"></script>
</body>
</html>